<div class="modal-backdrop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Aktion bestätigen</h4>
      </div>
      <div class="modal-body">
        <p>Sind Sie sicher, dass Sie dieses Ticket für {{ customerName }} {{ action }} möchten?</p>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Nein</button>
        <button type="button" class="btn btn-primary" (click)="onYesClick()">Ja</button>
      </div>
    </div>
  </div>
</div>
