<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="index.html">
        <img src="assets/Logo-sm.png" height="40" width="80" alt="Logo">
    </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Suche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/my/tickets" routerLinkActive="active">Meine
          Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/my/orders" routerLinkActive="active">Meine
          Bestellungen</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='ADMIN'">
        <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Verwalten ...
        </a>
        <ul class="dropdown-menu" aria-labelledby="manageDropdown">
          <a class="dropdown-item" routerLink="/locations" routerLinkActive="active">Aufführungsorte</a>
          <a class="dropdown-item" routerLink="/eventcreation" routerLinkActive="active">Erstelle Veranstaltung</a>
          <a class="dropdown-item" routerLink="/showcreation" routerLinkActive="active">Erstelle Vorführung</a>
          <a class="dropdown-item" routerLink="/news-create" routerLinkActive="active">Erstelle News</a>
          <a
            class="dropdown-item"
            routerLink="/hallplan/create"
            routerLinkActive="active"
          >
            Erstelle Saalplan
          </a>
        </ul>
      </li>
      <li>
        <a class="nav-link" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='ADMIN'" routerLink="/pickup-ticket-show-select" routerLinkActive="active">Ticketabholung</a>
      </li>
    </ul>
    <!-- Right-aligned nav items -->
    <ul class="navbar-nav ms-auto">
      <!-- Show login button when not logged in -->
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Login</a
        >
      </li>
      <li
        class="nav-item d-flex align-items-center"
        *ngIf="authService.isLoggedIn()"
      >
        <a class="nav-link" routerLink="/user/cart" routerLinkActive="active">
          <i class="bi bi-cart2"></i>
        </a>
        <a
          class="nav-link"
          *ngIf="getName()"
          routerLink="/user/home"
          routerLinkActive="ative"
        >
          <i class="bi-person" aria-hidden="true"></i>
          {{ getName() }}
        </a>
        <a class="nav-link" routerLink="/" (click)="authService.logoutUser()"
        >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
