.custom-bg-color {
  background-color: #c8d9e0;
  color: #000000;
}

.mt-3 {
  margin-top: 1rem;
}

.custom-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card.hover-card {
  cursor: pointer;
  text-align: center;
}

.card.hover-card:hover {
  transform: scale(1.05);
}

.event-card-color {
  background-color: #849eec;
  color: #000000;
}
