.custom-bg-color {
  background-color: rgb(54,162,235,0.2);
  color: #000000;
  border: 1px solid rgb(16,116,189);
}

.mt-3 {
  margin-top: 1rem;
}

.custom-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card.hover-card {
  cursor: pointer;
  text-align: center;
}

.card.hover-card:hover {
  transform: scale(1.05);
}

.event-card-color {
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  margin-top: 2.5rem;
}

p {
  font-size: 1.15rem;
}

strong {
  font-size: 1.4rem;
}

.news-paragraph {
  margin: 0 1rem 0 1rem;
}

.news-text {
  margin: 1rem 0 1rem 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title-centered {
  text-align: center;
  white-space: nowrap;
}
