<app-generic-autocomplete [searchFunction]="searchLocations"
                          [displayTemplate]="locationTemplate"
                          label="Veranstaltungsort"
                          placeholder="Veranstaltungsort suchen und auswählen"
                          (itemSelected)="onLocationSelected($event)"
                          [selectedItem]="initialLocation"
                          [clearEvent]="clearEvent"
>
</app-generic-autocomplete>

<ng-template #locationTemplate let-location>
  {{ location.name }}
</ng-template>
