<app-paginated-list
  [filterTemplate]="filterTemplate"
  [resultTemplate]="resultTemplate"
  [searchFunction]="searchArtists"
  [filterConfig]="filterConfig"
  [showPaginationButtons]="true"
  [heading]="'Künstler'"
  (onSearch)="pushQueryURL($event)"
></app-paginated-list>


<ng-template #filterTemplate let-form="form">
  <form [formGroup]="form" class="form-inline">
    <div class="row align-items-center mb-2">
      <div class="col-4 mb-2">
        <input
          id="firstname"
          class="form-control w-100"
          type="text"
          name="firstname"
          placeholder="Künstler Vorname"
          formControlName="firstname"
        >
      </div>
      <div class="col-4 mb-2">
        <input
          id="lastname"
          class="form-control w-100"
          type="text"
          name="lastname"
          placeholder="Künstler Nachname"
          formControlName="lastname"
        >
      </div>
      <div class="col-4 mb-2">
        <input
          id="artistName"
          class="form-control w-100"
          type="text"
          name="artistName"
          placeholder="Künstlername"
          formControlName="artistName"
        >
      </div>
    </div>

  </form>
</ng-template>


<ng-template #resultTemplate let-items="items">
  <div *ngIf="items.length === 0" class="alert alert-light" role="alert">
    Keine Veranstaltungen gefunden.
  </div>
  <div class="d-flex flex-column gap-2">
    <app-search-result-card
      *ngFor="let artist of items"
      (click)="navigateToArtist(artist.id)"
    >
      <div class="card-body d-flex justify-content-between">
            {{formatArtistName(artist)}}
      </div>
    </app-search-result-card>
  </div>
</ng-template>

<!--
<div *ngIf="!showEvents" class="d-flex flex-column gap-2">
  <div *ngIf="foundArtists && foundArtists.length === 0" class="alert alert-light" role="alert">
    Keine Künstler*innen gefunden.
  </div>
</div>

<div *ngIf="showEvents" class="d-flex flex-column gap-2">
  <div *ngIf="eventsOfArtist && eventsOfArtist.length === 0" class="alert alert-light" role="alert">
    Keine Veranstaltungen für gefunden.
  </div>
  <div *ngFor="let event of eventsOfArtist" class="card">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title">
          {{event.title}}
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Beschreibung: {{event.description}}
        </h6>
      </div>
      <div>
        <p class="card-text mb-0">
          Dauer: {{formatDuration(event.duration)}}
        </p>
        <p class="card-text">
          Veranstaltungs-Art: {{formatEventType(event.eventType)}}
        </p>
      </div>
    </div>
  </div>
</div>


-->
