<!DOCTYPE html>
<div class="card container-custom mt-5 shadow-lg">
  <div class="card-header">
    <h3 class="mb-0 text-center">Passwort ändern</h3>
  </div>
  <div class="card-body">
    <form
      class="form"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <div class="form-group">
        <label for="currentPassword" class="float-left"
          >Aktuelles Passwort:</label
        >
        <input
          type="password"
          id="currentPassword"
          class="form-control"
          formControlName="currentPassword"
          placeholder="Aktuelles Passwort eingeben"
        />
        <div
          *ngIf="
            changePasswordForm.get('currentPassword').invalid &&
            changePasswordForm.get('currentPassword').touched
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="changePasswordForm.get('currentPassword')?.errors.required"
          >
            Aktuelles Passwort ist erforderlich.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="float-left">Neues Passwort:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Neues Passwort eingeben"
        />
        <div
          *ngIf="
            changePasswordForm.get('password').invalid &&
            changePasswordForm.get('password').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="changePasswordForm.get('password')?.errors.required">
            Neues Passwort ist erforderlich.
          </div>
          <div *ngIf="changePasswordForm.get('password')?.errors.minlength">
            Das neue Passwort muss mindestens 8 Zeichen lang sein.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password_repeat" class="float-left"
          >Neues Passwort wiederholen:</label
        >
        <input
          type="password"
          id="password_repeat"
          class="form-control"
          formControlName="password_repeat"
          placeholder="Neues Passwort bestätigen"
        />
        <div
          *ngIf="
            changePasswordForm.get('password_repeat').invalid &&
            changePasswordForm.get('password_repeat').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="!checkPasswordsMatch()">
            Die Passwörter stimmen nicht überein.
          </div>
          <div
            *ngIf="changePasswordForm.get('password_repeat')?.errors.required"
          >
            Neues Passwort wiederholen ist erforderlich.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block mt-4"
        [disabled]="!changePasswordForm.valid || isLoading"
      >
        Passwort ändern
      </button>
    </form>
  </div>
</div>
