<!DOCTYPE html>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Passwort ändern</h3>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="currentPassword">Aktuelles Passwort</label>
              <input
                type="password"
                id="currentPassword"
                class="form-control"
                formControlName="currentPassword"
                [ngClass]="{
                  'is-invalid': submitted && f.currentPassword.errors
                }"
              />
              <div
                *ngIf="submitted && f.currentPassword.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.currentPassword.errors.required">
                  Aktuelles Passwort ist erforderlich
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="newPassword">Neues Passwort</label>
              <input
                type="password"
                id="newPassword"
                class="form-control"
                formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
              />
              <div
                *ngIf="submitted && f.newPassword.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.newPassword.errors.required">
                  Neues Passwort ist erforderlich
                </div>
                <div *ngIf="f.newPassword.errors.minlength">
                  Neues Passwort muss mindestens 6 Zeichen lang sein
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Neues Passwort bestätigen</label>
              <input
                type="password"
                id="confirmPassword"
                class="form-control"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submitted && f.confirmPassword.errors
                }"
              />
              <div
                *ngIf="submitted && f.confirmPassword.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.confirmPassword.errors.required">
                  Bestätigung des neuen Passworts ist erforderlich
                </div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                  Passwörter müssen übereinstimmen
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">
              Passwort ändern
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
