<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="container container-custom mt-5 shadow-lg p-3 rounded">
  <h1 class="h1 mb-3 text-center">Location bearbeiten</h1>
  <div class="row">
    <div class="form-group col-12">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Name der Location"
      />
      <div *ngIf="editForm.get('name').invalid && editForm.get('name').touched" class="invalid-feedback">
        Bitte geben Sie einen Namen ein.
      </div>
    </div>
    <div class="form-group col-12">
      <label for="street">Straße:</label>
      <input
        type="text"
        id="street"
        formControlName="street"
        class="form-control"
        placeholder="Straße"
      />
    </div>
    <div class="form-group col-12 col-xl-6">
      <label for="zip">PLZ:</label>
      <input
        type="number"
        id="zip"
        formControlName="zip"
        class="form-control"
        placeholder="PLZ"
      />
    </div>
    <div class="form-group col-12 col-xl-6">
      <label for="city">Stadt:</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        placeholder="Stadt"
      />
    </div>
    <div class="form-group col-12">
      <country-dropdown formControlName="country"></country-dropdown>
    </div>
  </div>
  <app-hallplan-autocomplete class="form-group col-12"
                             formControlName="hallPlan"
                             (selectedHallPlan)="onHallPlanSelected($event)"
                             (resetHallPlan)="onHallPlanReset()"
                             [initialHallPlan]="selectedHallPlan">
  </app-hallplan-autocomplete>
  <div *ngIf="editForm.get('hallPlan').invalid" class="invalid-feedback">
    Bitte wählen Sie einen Hallenplan aus.
  </div>
  <div class="row">
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Aktualisieren</button>
    </div>
  </div>
  <div class="form-group col-12" *ngIf="selectedHallPlan">
    <app-hallplan-viewer [hallPlan]="selectedHallPlan"></app-hallplan-viewer>
  </div>
</form>
