<!DOCTYPE html>
<html lang="de">
  <body>
    <div class="container mt-5">
      <div class="card text-center">
        <div class="card-header">
          <h3>Konto aktivieren</h3>
        </div>
        <div class="card-body">
          <p>
            Vielen Dank für deine Registrierung! Um dein Konto zu aktivieren,
            klicke bitte auf die Schaltfläche unten.
          </p>
          <a class="btn btn-primary" (click)="activateAccount()"
            >Konto aktivieren</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
