@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

canvas {
  width: 100%;
  height: 300px;
}
.btn-overlay {
  display: flex;
  position: absolute;
  width: 100%;
  .btn-group {
    .btn {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    &.right {
      margin-left: auto;

      .btn {
        border-bottom-right-radius: 0;

        &:not(:first-child) {
          border-bottom-left-radius: 0;
        }
      }
    }

    &.left {
      .btn {
        border-bottom-left-radius: 0;

        &:not(:last-child) {
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
.card-body {
  padding: 0;
  position: relative;
}
