<div class="container mt-4 mb-4">
    <div class="text-left mb-4">
        <img ngSrc="assets/Logo.png" alt="TicketLine Logo" class="logo" height="130" width="260">
    </div>

    <div>
        <h2 class="news-header">
            <a *ngIf="!authService.isLoggedIn(); else loggedInContent" routerLink="/news" class="news-link">News</a>
            <ng-template #loggedInContent>
                <a routerLink="/news" class="news-link">Deine News</a>
            </ng-template>
        </h2>
        <div class="news-carousel">
            <button class="carousel-control-prev" (click)="prevNews()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <div class="scroll-container no-scrollbar" #scrollContainer>
                <div class="row flex-nowrap">
                    <div class="col-4 p-2" *ngFor="let newsItem of news">
                        <div class="card h-100">
                            <a [routerLink]="['/news-detail', newsItem.id]">
                                <img class="news-image-preview" [src]="'data:image/jpeg;base64,' + newsItem.image" alt="news">
                            </a>
                            <div class="card-body d-flex flex-column">
                                <a [routerLink]="['/news', newsItem.id]" class="text-decoration-none text-dark">
                                    <h5 class="card-title">{{ newsItem.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ newsItem.publishedAt | date: 'dd.MM.yyyy HH:mm' }}</h6>
                                    <p class="card-text flex-grow-1">{{ newsItem.summary }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-next" (click)="nextNews()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
        <h2 class="mt-5">Top 10 Veranstaltungen</h2>
        <div>
            <canvas id="eventChart"></canvas>
        </div>
    </div>
    <div style="height: 50px;"></div>
</div>
