<app-paginated-list
  [filterTemplate]="filterTemplate"
  [resultTemplate]="resultTemplate"
  [searchFunction]="searchUsers"
  [filterConfig]="filterConfig"
  [refresh]="shouldRefresh"
  [showPaginationButtons]="true"
  [createButtonEnabled]="false"
  [heading]="'Users'"
></app-paginated-list>

<ng-template #filterTemplate let-form="form">
  <form [formGroup]="form" class="form-inline">
    <div class="row align-items-center mb-2">
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <label for="searchUserFirstName" class="col-form-label">Vorname:</label>
        <input
          type="text"
          id="searchUserFirstName"
          name="searchUserFirstName"
          class="form-control w-100"
          placeholder="Vorname"
          formControlName="firstName"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <label for="searchUserSecondName" class="col-form-label">Nachname:</label>
        <input
          type="text"
          id="searchUserSecondName"
          name="searchUserSecondName"
          class="form-control w-100"
          placeholder="Nachname"
          formControlName="familyName"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <label for="searchUserEmail" class="col-form-label">Email:</label>
        <input
          type="text"
          id="searchUserEmail"
          name="searchUserEmail"
          class="form-control w-100"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <label for="searchUserIsLocked" class="col-form-label">Status:</label>
        <select
          id="searchUserIsLocked"
          name="searchUserIsLocked"
          class="form-select w-100"
          formControlName="isLocked"
        >
          <option [ngValue]="true">Gesperrt</option>
          <option [ngValue]="false">Aktiv</option>
        </select>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #resultTemplate let-items="items">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-light">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th>Status</th>
        <th class="min-width">Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of items" class="center-td">
        <td>{{ user.firstName }}</td>
        <td>{{ user.familyName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.accountLocked ? "Gesperrt" : "Aktiv" }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            (click)="user.accountLocked ? updateLockStatus(user, false) : updateLockStatus(user, true)"
          >
            {{ user.accountLocked ? "Entsperren" : "Sperren" }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
