<!DOCTYPE html>
<div class="container mt-5">
  <h2>Meine Daten</h2>

  <form [formGroup]="userForm">
    <div class="row">
      <div class="form-group col-12 mb-3">
        <label for="firstName">Vorname:</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          placeholder="Bitte Vorname eingeben"
        />
      </div>

      <div class="form-group col-12 mb-3">
        <label for="familyName">Nachname:</label>
        <input
          type="text"
          id="familyName"
          formControlName="familyName"
          class="form-control"
          placeholder="Bitte Nachname eingeben"
        />
      </div>

      <div class="form-group col-12 mb-3">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Bitte E-Mail Adresse eingeben"
        />
        <div
          *ngIf="userForm.get('email').invalid && userForm.get('email').touched"
          class="invalid-feedback"
        >
          Bitte E-Mail Adresse eingeben.
        </div>
      </div>

      <div class="form-group col-12 mb-3">
        <label for="phoneNumber">Telefonnummer:</label>
        <input
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="Bitte Telefonnummer eintragen"
        />
        <div
          *ngIf="
            userForm.get('phoneNumber').invalid &&
            userForm.get('phoneNumber').touched
          "
          class="invalid-feedback"
        >
          Bitte Telefonnummer eintragen.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 text-right d-flex justify-content-between">
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-primary mx-1"
            [disabled]="!userForm.valid"
            (click)="saveUserDetails()"
            *ngIf="editMode"
          >
            Speichern
          </button>
          <button
            type="button"
            class="btn btn-primary mx-1"
            (click)="toggleEditMode()"
            *ngIf="!editMode"
          >
            Bearbeiten
          </button>
          <button
            *ngIf="editMode"
            type="button"
            class="btn btn-primary mx-1"
            (click)="toggleEditMode()"
          >
            Abbrechen
          </button>
          <button
            *ngIf="!editMode"
            type="button"
            class="btn btn-primary mx-1"
            (click)="changePassword()"
          >
            Passwort ändern
          </button>
        </div>
        <button
          *ngIf="!editMode"
          type="button"
          class="btn btn-danger mx-1"
          (click)="requestDeleteUser(user)"
          data-bs-target="#delete-confirm"
          data-bs-toggle="modal"
        >
          <i class="bi bi-trash"></i>
          Konto löschen
        </button>
      </div>
    </div>
  </form>
</div>

<app-user-confirm-delete-dialog
  [deleteWhat]="userForDelete?.firstName ?? ''"
  (confirm)="deleteAccount()"
  id="delete-confirm"
  tabindex="-1"
></app-user-confirm-delete-dialog>
