<div class="form-group">
  <label for="input-datalist">{{Label}}</label>
  <input type="text" class="form-control" (change)="onChange()" [(ngModel)]="text" [placeholder]="placeholder" id="input-datalist">
  <span class="badge rounded-pill bg-primary custom-badge" *ngFor="let artist of chosenArtists" >
    <div class="row justify-content-center align-content-center align-items-center" style="padding: 0vw 1vh">
      {{artist?.artistName}}, {{artist.lastName+" "+artist.firstName}}
      <button type="button" class="btn-close btn-close-white" (click)="removeArtist(artist)" aria-label="Close"></button>
    </div>
  </span>
  <div class="container-fluid event-buttons">
    <button class="btn btn-light btn-outline-dark eventbtn-group" (click)="eventClicked(artist)" *ngFor="let artist of autoCompleteList" >{{artist?.artistName}}, {{artist.lastName+" "+artist.firstName}}</button>
  </div>
</div>

