<!DOCTYPE html>
<div class="container container-custom mt-5 shadow-lg p-3 rounded">
  <h1 class="h1 mb-3 text-center">{{ heading }}</h1>
  <div class="row position-relative">
    <div class="col-md-4 col-xl-3 border-right-custom">
      <div class="list-group list-group-flush hover-pointer">
        <a
          id="editUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'editUser' }"
          (click)="toggleView('editUser')"
        >
          Meine Daten
        </a>
        <a
          id="createUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'createUser' }"
          (click)="toggleView('createUser')"
          *ngIf="isAdmin"
        >
          Nutzer erstellen
        </a>
        <a
          id="manageUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'manageUser' }"
          (click)="toggleView('manageUser')"
          *ngIf="isAdmin"
        >
          Nutzer verwalten
        </a>
        <a
          class="list-group-item list-group-item-action"
          routerLink="/hallplan/create"
          routerLinkActive="active"
          *ngIf="isAdmin"
        >
          Saalplan erstellen
        </a>
      </div>
    </div>
    <div class="col-md-8 col-xl-9">
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="account"
          role="tabpanel"
          aria-labelledby="account-tab"
        >
          <app-manage-user
            *ngIf="showManageUserForm && isAdmin"
          ></app-manage-user>
          <app-registration
            *ngIf="showCreateUserForm && isAdmin"
            [isAdminFlag]="isAdmin"
            [noTopMargin]="true"
          ></app-registration>
          <app-user-edit *ngIf="showEditUserForm" [user]="user"></app-user-edit>
        </div>
      </div>
    </div>
  </div>
</div>
