<!DOCTYPE html>
<div class="container p-0">
  <h1 class="h1 mb-3">{{ heading }}</h1>
  <div class="row">
    <div class="col-md-5 col-xl-4">
      <div class="list-group list-group-flush">
        <a
          id="editUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'editUser' }"
          (click)="toggleRegistration('editUser')"
        >
          Meine Daten
        </a>
        <a
          id="createUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'createUser' }"
          (click)="toggleRegistration('createUser')"
          *ngIf="isAdmin"
        >
          Nutzer erstellen
        </a>
        <a
          id="manageUser"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: selectedLinkId === 'manageUser' }"
          (click)="toggleRegistration('manageUser')"
          *ngIf="isAdmin"
        >
          Nutzer verwalten
        </a>
        <a
          class="list-group-item list-group-item-action"
          routerLink="/hallplan/create" routerLinkActive="active"
          *ngIf="isAdmin"
        >
          Saalplan erstellen
        </a>
      </div>
    </div>
    <div class="col-md-7 col-xl-8">
      <div class="tab-content">
        <div
          class="collapse show active"
          id="account"
          role="tabpanel"
          aria-labelledby="account-tab"
        >
          <app-manage-user
            *ngIf="showManageUserForm && isAdmin"
          ></app-manage-user>
          <app-registration
            *ngIf="showCreateUserForm && isAdmin"
            [isAdminFlag]="isAdmin"
          ></app-registration>
          <app-user-edit *ngIf="showEditUserForm" [user]="user"></app-user-edit>
        </div>
      </div>
    </div>
  </div>
</div>
