<!DOCTYPE html>
<html lang="de">
  <body>
    <div class="card container-custom mt-5 shadow-lg">
      <div class="card-header">
        <h3 class="mb-0 text-center">Login</h3>
      </div>
      <div class="card-body">
        <form
          class="form"
          [formGroup]="loginForm"
          (ngSubmit)="loginUser()"
          novalidate
        >
          <div
            class="form-group"
            [class.is-invalid]="submitted && loginForm.get('username').invalid"
          >
            <label for="inputUsername" class="float-left">Benutzername:</label>
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              formControlName="username"
              aria-describedby="usernameHelp"
              placeholder="z.B.: max.mustermann@email.com"
            />
            <div
              *ngIf="submitted && loginForm.get('username').errors"
              class="invalid-feedback"
            >
              <div *ngIf="loginForm.get('username').errors.required">
                Ihr Username ist erforderlich!
              </div>
            </div>
          </div>

          <div
            class="form-group"
            [class.is-invalid]="submitted && loginForm.get('password').invalid"
          >
            <label for="password">Passwort:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Passwort eingeben"
            />
            <div
              *ngIf="submitted && loginForm.get('password').errors"
              class="invalid-feedback"
            >
              <div *ngIf="loginForm.get('password').errors.required">
                Ihr Passwort ist erforderlich!
              </div>
              <div *ngIf="loginForm.get('password').errors.minlength">
                Ihr Passwort muss mindestens 8 Zeichen lang sein!
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>

          <div class="d-flex justify-content-center mt-2">
            <button
              type="button"
              class="btn btn-link"
              (click)="navigateToResetPassword()"
            >
              Passwort vergessen?
            </button>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-link" routerLink="/register">
              Noch kein Konto? Registrieren!
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
