<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>

            <div class="form-group" [class.is-invalid]="submitted && loginForm.get('username').invalid">
              <label for="inputUsername">Username</label>
              <input type="text" class="form-control" id="inputUsername" formControlName="username"
                     aria-describedby="usernameHelp" placeholder="Enter username">
              <div *ngIf="submitted && loginForm.get('username').errors" class="invalid-feedback">
                <div *ngIf="loginForm.get('username').errors.required">Your username is required!</div>
              </div>
            </div>

            <div class="form-group" [class.is-invalid]="submitted && loginForm.get('password').invalid">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password"
                     placeholder="Password">
              <div *ngIf="submitted && loginForm.get('password').errors" class="invalid-feedback">
                <div *ngIf="loginForm.get('password').errors.required">Your password is required!</div>
                <div *ngIf="loginForm.get('password').errors.minlength">Your password must be at least 8 characters long!</div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary float-right">Login</button>

            <button type="button" class="btn btn-link mt-2" routerLink="/register">No account yet? Register here!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
