<!DOCTYPE html>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="confirm-delete-dialog-title">
        Konto löschen
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">Willst du wirklich dein Konto löschen?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Nein, stop
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="confirm.emit()"
      >
        Ja, löschen
      </button>
    </div>
  </div>
</div>
