<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Neuen News-Eintrag erstellen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="newsForm" (ngSubmit)="addNews()">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="inputTitle">Titel</label>
                        <input
                                type="text"
                                id="inputTitle"
                                formControlName="title"
                                class="form-control"
                                placeholder="Titel eingeben"
                                [ngClass]="{ 'is-invalid': formControls.title.invalid &&
                                 (formControls.title.dirty || formControls.title.touched) }"
                        />
                        <div *ngIf="formControls.title.invalid && (formControls.title.dirty || formControls.title.touched)"
                             class="invalid-feedback">
                            <small class="form-text text-danger" *ngIf="formControls.title.errors.required">Ein Titel
                                ist erforderlich!</small>
                            <small class="form-text text-danger" *ngIf="formControls.title.errors.minlength">Der Titel
                                muss mindestens 3 Zeichen lang sein!</small>
                            <small class="form-text text-danger" *ngIf="formControls.title.errors.maxlength">Der Titel
                                darf höchstens 100 Zeichen lang sein!</small>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputSummary">Zusammenfassung</label>
                        <textarea
                                id="inputSummary"
                                formControlName="summary"
                                class="form-control"
                                placeholder="Zusammenfassung eingeben"
                                [ngClass]="{ 'is-invalid': formControls.summary.invalid && (formControls.summary.dirty
                                || formControls.summary.touched) }"
                        ></textarea>
                        <div *ngIf="formControls.summary.invalid && (formControls.summary.dirty || formControls.summary.touched)"
                             class="invalid-feedback">
                            <small class="form-text text-danger" *ngIf="formControls.summary.errors.required">Eine
                                Zusammenfassung ist erforderlich!</small>
                            <small class="form-text text-danger" *ngIf="formControls.summary.errors.minlength">Die
                                Zusammenfassung muss mindestens 3 Zeichen lang sein!</small>
                            <small class="form-text text-danger" *ngIf="formControls.summary.errors.maxlength">Die
                                Zusammenfassung darf höchstens 500 Zeichen lang sein!</small>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputText">Text</label>
                        <textarea
                                id="inputText"
                                formControlName="text"
                                class="form-control"
                                placeholder="Text eingeben"
                                rows="6"
                                [ngClass]="{ 'is-invalid': formControls.text.invalid && (formControls.text.dirty
                                || formControls.text.touched) }"
                        ></textarea>
                        <div *ngIf="formControls.text.invalid && (formControls.text.dirty || formControls.text.touched)"
                             class="invalid-feedback">
                            <small class="form-text text-danger" *ngIf="formControls.text.errors.required">Ein Text ist
                                erforderlich!</small>
                            <small class="form-text text-danger" *ngIf="formControls.text.errors.minlength">Der Text
                                muss mindestens 3 Zeichen lang sein!</small>
                            <small class="form-text text-danger" *ngIf="formControls.text.errors.maxlength">Der Text
                                darf höchstens 10.000 Zeichen lang sein!</small>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <app-autocomplete-textfield
                                (selectedEvent)="onEventSelected($event)"
                                [ngClass]="{ 'is-invalid': submitted && !selectedEvent }"
                        ></app-autocomplete-textfield>
                        <div *ngIf="submitted && !selectedEvent" class="invalid-feedback">
                            <small class="form-text text-danger">Ein Event ist erforderlich!</small>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <label for="inputImage">Bild hochladen:</label>
                        <input
                                type="file"
                                id="inputImage"
                                accept="image/*"
                                (change)="onFileSelected($event)"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && !selectedFile }"
                        />
                        <div *ngIf="submitted && !selectedFile" class="invalid-feedback">
                            <small class="form-text text-danger">Ein Bild ist erforderlich!</small>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col-12">
                        <button
                                type="submit"
                                class="btn btn-block w-100"
                                [ngClass]="{ 'btn-success': newsForm.valid && selectedFile && selectedEvent,
                                'btn-danger': !newsForm.valid || !selectedFile || !selectedEvent }"
                                [disabled]="!newsForm.valid || !selectedFile || !selectedEvent"
                        >
                            Erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200;">
        <ngb-toast *ngIf="error" header="Fehler!" [autohide]="false" class="bg-danger text-white">
            {{ errorMessage }}
            <button type="button" class="close" (click)="vanishError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ngb-toast>
        <ngb-toast *ngIf="success" header="Erfolg!" [autohide]="true" [delay]="5000" class="bg-success text-white">
            {{ successMessage }}
            <button type="button" class="close" (click)="vanishSuccess()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ngb-toast>
    </div>
</div>
