<app-paginated-list
  [filterTemplate]="filterTemplate"
  [resultTemplate]="resultTemplate"
  [searchFunction]="searchEvents"
  [filterConfig]="filterConfig"
  [showPaginationButtons]="true"
  [heading]="'Veranstaltungen'"
  (onSearch)="pushQueryURL($event)"
></app-paginated-list>

<ng-template #filterTemplate let-form="form">
  <form [formGroup]="form" class="form-inline">
    <div class="row align-items-center mb-2">
      <div class="col-4 mb-2">
        <input
          type="text"
          class="form-control w-100"
          placeholder="Name"
          formControlName="textSearch"
          data-testid="event-search-input"
        >
      </div>
      <div class="col-4 mb-2">
        <input
          type="number"
          class="form-control w-100"
          step="1"
          min="0"
          placeholder="60"
          formControlName="dauer"
        >
      </div>
        <div class="col-4 mb-2">
          <select
            id="type"
            class="form-select w-100"
            formControlName="typ"
          >
            <option [ngValue]="" selected>Alle</option>
            <option *ngFor="let type of eventTypes" [ngValue]="type">{{ type }}</option>
          </select>
        </div>
    </div>

  </form>
</ng-template>

<ng-template #resultTemplate let-items="items">
  <div *ngIf="items.length === 0" class="alert alert-light" role="alert">
    Keine Veranstaltungen gefunden.
  </div>
  <div class="d-flex flex-column gap-2">
    <app-search-result-card data-testid="event-details-btn" *ngFor="let event of items"
                            (click)="navigateToEvent(event.id)">
      <div class="card-body d-flex justify-content-between">
        <div class="w-75">
          <h5 class="card-title">
            {{ event.title }}
          </h5>
          <h6 class="card-subtitle mb-2 text-body-secondary description-text">
            {{ event.description }}
          </h6>
        </div>
        <div class="text-end">
          <p class="card-text mb-0">
            Dauer: {{ formatDuration(event.duration) }}
          </p>
          <p class="card-text">
            Veranstaltungs-Art: {{ formatEventType(event.eventType) }}
          </p>
        </div>
      </div>
    </app-search-result-card>
  </div>
</ng-template>
