<div class="container mt-3">
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="!error">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>{{heading}}</h2>
      <button *ngIf="createButtonEnabled" class="btn btn-primary" (click)="createNew.emit()">
        <i class="bi bi-plus-circle"></i> Erstellen
      </button>
    </div>
    <div class="mb-3">
      <ng-template [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{form: searchForm}"></ng-template>
    </div>
    <div class="results">
      <ng-template [ngTemplateOutlet]="resultTemplate" [ngTemplateOutletContext]="{items: items}"></ng-template>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <ngb-pagination *ngIf="totalPages > 1 && showPaginationButtons"
                      [collectionSize]="totalItems"
                      [(page)]="currentPage"
                      [pageSize]="pageSize"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      [boundaryLinks]="true"
                      (pageChange)="changePage($event)">
      </ngb-pagination>
    </div>
  </div>
</div>
