<div class="container mt-3">
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="!error">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>{{heading}}</h2>
      <button *ngIf="createButtonEnabled" class="btn btn-primary" (click)="createNew.emit()">
        <i class="bi bi-plus-circle"></i> Erstellen
      </button>
    </div>
    <div class="mb-3">
      <ng-template [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{form: searchForm}"></ng-template>
    </div>
    <div class="results">
      <ng-template [ngTemplateOutlet]="resultTemplate" [ngTemplateOutletContext]="{items: items}"></ng-template>
    </div>
    <nav *ngIf="totalPages > 1 && showPaginationButtons" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(1)">
          <a class="page-link" href="javascript:void(0)">Erste</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
          <a class="page-link" href="javascript:void(0)">Zurück</a>
        </li>
        <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage" (click)="changePage(page)">
          <a class="page-link" href="javascript:void(0)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
          <a class="page-link" href="javascript:void(0)">Weiter</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="changePage(totalPages)">
          <a class="page-link" href="javascript:void(0)">Letzte</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
