<div class="mt-2 container">
    <div class="input-group justify-content-center" id="searchRadio">
        <button (click)="switchMode('UNREAD')"
                class="btn"
                [ngClass]="{'btn-dark': newsMode === 'UNREAD', 'btn-light text-dark': newsMode !== 'UNREAD'}"
                type="button">Ungelesene News</button>
        <button (click)="switchMode('ALL')"
                class="btn"
                [ngClass]="{'btn-dark': newsMode === 'ALL', 'btn-light text-dark': newsMode !== 'ALL'}"
                type="button">Alle News</button>
    </div>
    <div class="toast-container">
        <ngb-toast *ngIf="error" header="Fehler!" [autohide]="false" class="error-toast">
            {{ errorMessage }}
            <button type="button" class="close" (click)="vanishError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ngb-toast>

        <ngb-toast *ngIf="success" header="Erfolg!" [autohide]="true" [delay]="5000" class="success-toast">
            {{ successMessage }}
            <button type="button" class="close" (click)="vanishSuccess()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ngb-toast>
    </div>

    <div class="mt-4 container">
        <div class="row p-2 mb-4">
            <div class="float-left">
                <button *ngIf="isAdmin()" type="button" class="btn btn-sm mr-4 d-inline-block bg-dark text-light" (click)="openAddModal(newsAddModal)">News erstellen</button>
            </div>

            <ng-template #newsAddModal let-modal>
                <div class="modal-header custom-header d-flex justify-content-between bg-dark text-light">
                    <h5 class="modal-title">News erstellen</h5>
                    <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form (ngSubmit)="addNews(newsForm)" #newsForm="ngForm">
                        <div class="form-group">
                            <label for="inputTitle">Titel</label>
                            <input type="text" name="title" class="form-control" id="inputTitle" required minlength="3" maxlength="100"
                                   aria-describedby="titleHelp" placeholder="Titel eingeben" [(ngModel)]="currentNews.title" [readOnly]="currentNews.id">
                            <div *ngIf="submitted && newsForm.controls.title.errors" class="error">
                                <small class="form-text text-danger" *ngIf="newsForm.controls.title.errors.required">Ein Titel ist erforderlich!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.title.errors.minlength">Der Titel muss mindestens 3 Zeichen lang sein!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.title.errors.maxlength">Der Titel darf höchstens 100 Zeichen lang sein!</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSummary">Zusammenfassung</label>
                            <textarea rows="3" name="summary" class="form-control" id="inputSummary" required minlength="3" maxlength="500"
                                      aria-describedby="summaryHelp" placeholder="Zusammenfassung eingeben" [(ngModel)]="currentNews.summary" [readOnly]="currentNews.id"></textarea>
                            <div *ngIf="submitted && newsForm.controls.summary.errors" class="error">
                                <small class="form-text text-danger" *ngIf="newsForm.controls.summary.errors.required">Eine Zusammenfassung ist erforderlich!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.summary.errors.minlength">Die Zusammenfassung muss mindestens 3 Zeichen lang sein!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.summary.errors.maxlength">Die Zusammenfassung darf höchstens 500 Zeichen lang sein!</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputText">Text</label>
                            <textarea rows="6" name="text" class="form-control" id="inputText" required minlength="3" maxlength="10000"
                                      aria-describedby="textHelp" placeholder="Text eingeben" [(ngModel)]="currentNews.text" [readOnly]="currentNews.id"></textarea>
                            <div *ngIf="submitted && newsForm.controls.text.errors" class="error">
                                <small class="form-text text-danger" *ngIf="newsForm.controls.text.errors.required">Ein Text ist erforderlich!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.text.errors.minlength">Der Text muss mindestens 3 Zeichen lang sein!</small>
                                <small class="form-text text-danger" *ngIf="newsForm.controls.text.errors.maxlength">Der Text darf höchstens 10.000 Zeichen lang sein!</small>
                            </div>
                        </div>

                        <div class="form-group mb-2" *ngIf="!currentNews.id">
                            <label for="inputImage"></label>
                            <input type="file" name="image" id="inputImage" (change)="onFileSelected($event)"
                                   style="opacity: 0; position: absolute; left: -9999px;" accept="image/*" required>
                            <button type="button" class="btn float-right bg-dark text-light" (click)="selectImage()">Bild hochladen</button>
                            <span *ngIf="submitted && !selectedFile" class="form-text text-danger ml-2">Ein Bild ist erforderlich!</span>

                            <span *ngIf="selectedFile" class="ml-2">{{ selectedFile.name }}</span>
                        </div>

                        <button type="button" *ngIf="!currentNews.id" (click)="addNews(newsForm)" id="add-msg" class="btn float-right"
                                [ngClass]="{'btn-success': newsForm.valid && selectedFile, 'btn-danger': (!newsForm.valid || !selectedFile) }">Speichern</button>
                    </form>
                </div>
            </ng-template>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let news of getNews()">
                <div class="card h-100">
                    <img class="news-image-preview" [src]="'data:image/jpeg;base64,'+news.image" alt="news">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ news.publishedAt | date: 'dd.MM.yyyy HH:mm' }}</h6>
                        <p class="card-text flex-grow-1">{{ news.summary }}</p>
                        <div class="mt-2">
                            <button [routerLink]="['/news-detail', news.id]" class="btn bg-dark text-light">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
