<div class="mt-4 container">
    <div class="input-group justify-content-center mb-4" id="searchRadio">
        <button (click)="switchMode('UNREAD')"
                class="btn btn-outline-primary {{(newsMode === 'UNREAD' ? 'active' : '')}}"
                type="button">Ungelesene News
        </button>
        <button (click)="switchMode('ALL')"
                class="btn btn-outline-primary {{(newsMode === 'ALL' ? 'active' : '')}}"
                type="button">Alle News
        </button>
    </div>
    <div class="toast-container">
        <ngb-toast *ngIf="error" header="Fehler!" [autohide]="false" class="error-toast">
            {{ errorMessage }}
            <button type="button" class="close" (click)="vanishError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ngb-toast>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let news of getNews()">
            <div class="card h-100" [routerLink]="['/news-detail', news.id]">
                <img class="news-image-preview" [src]="'data:image/jpeg;base64,'+news.image" alt="news">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ news.publishedAt | date: 'dd.MM.yyyy HH:mm' }}</h6>
                    <p class="card-text flex-grow-1">{{ news.summary }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <ngb-pagination
                    [collectionSize]="totalElements"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange($event)"
                    [maxSize]="5"
                    [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>
