.card {
  position: relative;
  overflow: hidden;
}

.news-image-preview {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.error-toast {
  background-color: #c23131;
}

.success-toast {
  background-color: #64c561;
}








