<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="mt-4 container">

  <div class="row p-2 mb-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm mr-4" (click)="openAddModal(newsAddModal)">News erstellen</button>

    <ng-template #newsAddModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">News</h5>
        <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addNews(newsForm)" #newsForm="ngForm">

          <div class="form-group">
            <label for="inputTitle">Titel</label>
            <input type="text" name="title" class="form-control" id="inputTitle" required
                   aria-describedby="titleHelp" placeholder="Titel eingeben" [(ngModel)]="currentNews.title" [readOnly]="currentNews.id">
            <div *ngIf="submitted && newsForm.controls.title.errors" class="error">
              <small class="form-text text-warning" *ngIf="newsForm.controls.title.errors.required">Ein Titel ist erforderlich!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputSummary">Zusammenfassung</label>
            <textarea rows="3" name="summary" class="form-control" id="inputSummary" required
                      aria-describedby="summaryHelp" placeholder="Zusammenfassung eingeben" [(ngModel)]="currentNews.summary" [readOnly]="currentNews.id"></textarea>
            <div *ngIf="submitted && newsForm.controls.summary.errors" class="error">
              <small class="form-text text-warning" *ngIf="newsForm.controls.summary.errors.required">Eine Zusammenfassung ist erforderlich!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputText">Text</label>
            <textarea rows="6" name="text" class="form-control" id="inputText" required
                      aria-describedby="textHelp" placeholder="Text eingeben" [(ngModel)]="currentNews.text" [readOnly]="currentNews.id"></textarea>
            <div *ngIf="submitted && newsForm.controls.text.errors" class="error">
              <small class="form-text text-warning" *ngIf="newsForm.controls.text.errors.required">Ein Text ist erforderlich!
              </small>
            </div>
          </div>

          <div class="form-group mb-2" *ngIf="!currentNews.id">
            <label for="inputImage"></label>
            <input type="file" name="image" id="inputImage" (change)="onFileSelected($event)" style="opacity: 0; position: absolute; left: -9999px;" accept="image/*" required>
            <button type="button" class="btn btn-primary float-right" (click)="selectImage()">Bild hochladen</button>
            <span *ngIf="submitted && !selectedFile" class="form-text text-warning ml-2">Ein Bild ist erforderlich!</span>

            <span *ngIf="selectedFile" class="ml-2">{{ selectedFile.name }}</span>
          </div>



          <button type="button" *ngIf="!currentNews.id" (click)="addNews(newsForm)" id="add-msg" class="btn float-right" [ngClass]="{'btn-success': newsForm.valid && selectedFile, 'btn-danger': (!newsForm.valid || !selectedFile) }">Speichern</button>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-modal-btn" (click)="modal.dismiss('close')">Close</button>
      </div>
    </ng-template>
  </div>






  <div class="row">

    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let news of getNews()">

      <div class="card">

        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{news.publishedAt | date: 'dd.MM.yyyy HH:mm'}}</h6>
          <p class="card-text">{{news.summary}}</p>
          <div class="row">
            <div class="col">
              <img class="news-image-preview" [src]="'data:image/jpeg;base64,'+news.image" alt="news">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <button (click)="openExistingNewsModal(news.id, newsAddModal)" type="button" class="btn btn-primary">
                Details
              </button>
            </div>
          </div>
        </div>


        <div [ngClass]="['modal', 'fade', 'news-modal-'+news.id]" tabindex="-1" role="dialog"
             aria-labelledby="News details modal"
             aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{news.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>

              <!-- Modal Body für Details -->
              <div class="modal-body">

                <p class="lead"><span class="font-italic">{{news.publishedAt | date: 'dd.MM.yyyy HH:mm'}}</span> {{news.summary}}</p>
                <p class="mt-2"> {{news.text}} </p>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

