<!DOCTYPE html>
<html lang="de">
  <body>
    <div class="card text-center container-custom mt-5 shadow-lg">
      <div class="card-header">
        <h3 class="mb-0">E-Mail Änderung</h3>
      </div>
      <div class="card-body">
        <p class="mt-3">
          Wenn du deine E-Mail-Adresse ändern möchtest, klicke bitte auf die
          Schaltfläche unten:
        </p>
        <a class="btn btn-primary" (click)="changeEmailAddress()"
          >E-Mail-Adresse ändern</a
        >
      </div>
    </div>
  </body>
</html>
