<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="container mt-5">
  <h2>Neuen Veranstaltungsort erstellen</h2>
  <div class="row">
    <div class="form-group col-12">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Name der Location"
        data-testid="location-name-input"
      />
      <div *ngIf="createForm.get('name').invalid && createForm.get('name').touched" class="invalid-feedback">
        Bitte geben Sie einen Namen ein.
      </div>
    </div>
    <div class="form-group col-12">
      <label for="street">Straße:</label>
      <input
        type="text"
        id="street"
        formControlName="street"
        class="form-control"
        placeholder="Straße"
        data-testid="location-street-input"
      />
      <div *ngIf="createForm.get('street').invalid && createForm.get('street').touched" class="invalid-feedback">
        Bitte geben Sie eine Straße ein.
      </div>
    </div>
    <div class="form-group col-12 col-xl-6">
      <label for="zip">PLZ:</label>
      <input
        type="number"
        id="zip"
        formControlName="zip"
        class="form-control"
        placeholder="PLZ"
        data-testid="location-zip-input"
      />
      <div *ngIf="createForm.get('zip').invalid && createForm.get('zip').touched" class="invalid-feedback">
        Bitte geben Sie eine PLZ ein.
      </div>
    </div>
    <div class="form-group col-12 col-xl-6">
      <label for="city">Stadt:</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        placeholder="Stadt"
        data-testid="location-city-input"
      />
      <div *ngIf="createForm.get('city').invalid && createForm.get('city').touched" class="invalid-feedback">
        Bitte geben Sie eine Stadt ein.
      </div>
    </div>
    <div class="form-group col-12">
      <country-dropdown formControlName="country"
                        data-testid="location-country-input"
      ></country-dropdown>
      <div *ngIf="createForm.get('country').invalid && createForm.get('country').touched" class="invalid-feedback">
        Bitte wählen Sie ein Land aus.
      </div>
    </div>
  </div>
  <app-hallplan-autocomplete
    class="form-group col-12"
    formControlName="hallPlan"
    (selectedHallPlan)="onHallPlanSelected($event)"
    (resetHallPlan)="onHallPlanSelected(null)"
    data-testid="location-hallplan-input"
  ></app-hallplan-autocomplete>
  <div *ngIf="createForm.get('hallPlan').invalid && createForm.get('hallPlan').touched" class="invalid-feedback">
    Bitte wählen Sie einen Hallenplan aus.
  </div>
  <div class="row">
    <div class="form-group">
      <button data-testid="location-submit" type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Erstellen</button>
    </div>
  </div>

  <div class="form-group col-12" *ngIf="selectedHallPlan">
    <app-hallplan-viewer [hallPlan]="selectedHallPlan"></app-hallplan-viewer>
  </div>
</form>
