<!DOCTYPE html>
<div
  class="card container-custom shadow-lg no-top-margin"
  [ngClass]="{ 'no-top-margin': noTopMargin, 'mt-5': !noTopMargin }"
>
  <div class="card-header">
    <h3 class="mb-0 text-center">Registrierung</h3>
  </div>
  <div class="card-body">
    <form
      class="form"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <div class="form-group">
        <label for="email" class="float-left">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="z.B.: max.mustermann@email.com"
        />
        <div
          *ngIf="
            registrationForm.get('email').invalid &&
            registrationForm.get('email').touched
          "
          class="invalid-feedback"
        >
          Bitte geben Sie eine gültige Email-Adresse ein.
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="float-left">Passwort:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Passwort eingeben"
        />
        <div
          *ngIf="
            registrationForm.get('password').invalid &&
            registrationForm.get('password').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="registrationForm.get('password')?.errors.required">
            Neues Passwort ist erforderlich.
          </div>
          <div *ngIf="registrationForm.get('password')?.errors.minlength">
            Das neue Passwort muss mindestens 8 Zeichen lang sein.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password-repeat" class="float-left"
          >Passwort wiederholen:</label
        >
        <input
          type="password"
          id="password-repeat"
          formControlName="password_repeat"
          class="form-control"
          placeholder="Passwort wiederholen"
        />
        <div
          *ngIf="
            registrationForm.get('password_repeat').invalid &&
            registrationForm.get('password_repeat').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="registrationForm.get('password_repeat')?.errors.required">
            Passwort wiederholen ist erforderlich.
          </div>
          <div *ngIf="!checkPasswordsMatch()">
            Die Passwörter stimmen nicht überein.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName" class="float-left">Vorname:</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          placeholder="z.B.: Max"
        />
        <div
          *ngIf="
            registrationForm.get('firstName').invalid &&
            registrationForm.get('firstName').touched
          "
          class="invalid-feedback"
        >
          Bitte Vorname eintragen.
        </div>
      </div>

      <div class="form-group">
        <label for="familyName" class="float-left">Nachname:</label>
        <input
          type="text"
          id="familyName"
          formControlName="familyName"
          class="form-control"
          placeholder="z.B.: Mustermann"
        />
        <div
          *ngIf="
            registrationForm.get('familyName').invalid &&
            registrationForm.get('familyName').touched
          "
          class="invalid-feedback"
        >
          Bitte Nachname eintragen.
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber" class="float-left">Telefonnummer:</label>
        <input
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="z.B.: +436601234567"
        />
        <div
          *ngIf="
            registrationForm.get('phoneNumber').invalid &&
            registrationForm.get('phoneNumber').touched
          "
          class="invalid-feedback"
        >
          Bitte gültige Telefonnummer eintragen.
        </div>
      </div>

      <div class="form-group" *ngIf="isAdminFlag">
        <label for="isAdmin" class="float-left">Kontorolle:</label>
        <select
          class="form-control"
          id="isAdmin"
          name="isAdmin"
          formControlName="isAdmin"
        >
          <option value="true">Admin</option>
          <option selected value="false">Benutzer</option>
        </select>
      </div>

      <h3 class="mt-4">Adresse</h3>
      <div class="form-group">
        <label for="street" class="float-left">Straße:</label>
        <input
          type="text"
          id="street"
          formControlName="street"
          class="form-control"
          placeholder="z.B.: Dr.-Karl-Renner-Ring 3/4A"
        />
        <div
          *ngIf="
            registrationForm.get('street').invalid &&
            registrationForm.get('street').touched
          "
          class="invalid-feedback"
        >
          Bitte Straße eintragen.
        </div>
      </div>

      <div class="form-group">
        <label for="zip" class="float-left">PLZ:</label>
        <input
          type="number"
          id="zip"
          formControlName="zip"
          class="form-control"
          placeholder="z.B.: 1010"
        />
        <div
          *ngIf="
            registrationForm.get('zip').invalid &&
            registrationForm.get('zip').touched
          "
          class="invalid-feedback"
        >
          Bitte Postleitzahl eintragen.
        </div>
      </div>

      <div class="form-group">
        <label for="city" class="float-left">Stadt:</label>
        <input
          type="text"
          id="city"
          formControlName="city"
          class="form-control"
          placeholder="z.B.: Wien"
        />
        <div
          *ngIf="
            registrationForm.get('city').invalid &&
            registrationForm.get('city').touched
          "
          class="invalid-feedback"
        >
          Bitte Ort eintragen.
        </div>
      </div>

      <div class="form-group">
        <country-dropdown [formControlName]="'country'"></country-dropdown>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="!registrationForm.valid || isLoading"
      >
        Registrieren
      </button>
    </form>
  </div>
</div>
