<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passwort zurücksetzen</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Passwort zurücksetzen</h2>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                  <label for="email">E-Mail-Adresse</label>
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Geben Sie Ihre E-Mail-Adresse ein"
                  />
                  <div
                    *ngIf="
                      resetPasswordForm.get('email')?.invalid &&
                      resetPasswordForm.get('email')?.touched
                    "
                    class="mt-2"
                  >
                    <small
                      *ngIf="resetPasswordForm.get('email')?.errors?.required"
                      class="text-danger"
                    >
                      E-Mail-Adresse ist erforderlich.
                    </small>
                    <small
                      *ngIf="resetPasswordForm.get('email')?.errors?.email"
                      class="text-danger"
                    >
                      Ungültige E-Mail-Adresse.
                    </small>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  [disabled]="resetPasswordForm.invalid"
                >
                  Passwort zurücksetzen
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
